<nav class="h-100 bg-secondary text-white" id="sidebar">
  <div class="d-flex flex-column h-100 pb-3">
    <div class="flex-grow-1">
      <ul class="list-unstyled components">
        <li><a routerLink="/dashboard"><i class="fa-solid fa-gear"></i> Dashboard</a></li>
        <li><a routerLink="/inventory"><i class="fa-solid fa-gear"></i> Inventory</a></li>
        <li><a routerLink="/reports"><i class="fa-solid fa-gear"></i> Reports</a></li>
        <li><a routerLink="/parks"><i class="fa-solid fa-gear"></i> Parks</a></li>
        <li><a routerLink="/customers"><i class="fa-solid fa-gear"></i> Customers</a></li>
      </ul>
    </div>
  </div>
</nav>