<nav class="h-100 bg-secondary text-white" id="sidebar">
  <div class="d-flex flex-column h-100 pb-3">
      <ul class="list-unstyled components ms-3 me-5">
        <li><a routerLink="/dashboard"><i class="fa-solid fa-gear"></i> Dashboard</a></li>
        <li><a routerLink="/sales"><i class="fa-solid fa-gear"></i> Sales</a></li>
        <li><a routerLink="/reports"><i class="fa-solid fa-gear"></i> Reports</a></li>
        <li><a routerLink="/inventory"><i class="fa-solid fa-gear"></i> Inventory</a></li>
        <li><a routerLink="/customers"><i class="fa-solid fa-gear"></i> Customers</a></li>
      </ul>
  </div>
</nav>