@use "../../assets/styles/index" as *;

.top-box-content {
    background-color: #2464A4;
    color: white;
    position: relative; 
    z-index: 2;
}

.footer-admin {
  background-color: $primary-nav;
  color: white;
  position: absolute;
  margin-top: auto;
  width: 100%;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  color: $bcgold;
}

.gov-links {
  list-style-type: none;
}
