<section>
  <div class="d-flex flex-column align-items-center justify-content-center my-5">
    <h4 class="text-center mb-5">Create New Geozone</h4>
    <div class="text-center mb-3">
      Geozones are geospatial regions defined by a bounding box that group together activities and facilities that are
      interrelated.
    </div>
  </div>
</section>
<hr>
<app-geozone-form
  (formValue)="updateGeozoneForm($event)">
</app-geozone-form>
<hr>
<section>
  <div class="d-flex flex-column align-items-center justify-content-center my-5">
    <h4 class="text-center mb-5">Create New Geozone</h4>
<button class="btn btn-success btn-lg" (click)="submit()">
  <i class="fa-solid fa-plus me-2"></i>
  <span>Create Geozone</span>
</button>
  </div>
</section>
