<div class="mb-3">
  <p>Location<p>
  <div class="d-flex align-items-center">
    <select class="form-select me-2" aria-label="Select location">
      <option selected disabled>Please select</option>
      <!-- figure out populating options later -->
    </select>
    <button class="btn btn-primary" type="button" (click)="goToPark()">Go</button>
  </div>
</div>
<div class="d-flex justify-content-end mt-3">
  <button class="btn btn-primary me-2" type="button" (click)="showAlerts()">Alerts</button>
  <button class="btn btn-primary" type="button" (click)="showClosures()">Closures</button>
</div>