<section class="container my-5">
  <h3>Inventory Management</h3>
  <ngds-text-input
    [control]="form.get('search')"
    [label]="'BC Parks Reservation Service Data Lookup'"
    [placeholder]="'Search for protected areas, facilities, activities, or other data'"
    [resetButton]="true"
    [loadWhile]="loadingService.isLoading()"
    aria-label="Search for protected areas, facilities, activities, or other data"
    (keyup.enter)="search()"
  >
    <button
      ngdsInputAppend
      class="btn btn-primary"
      type="submit"
      (click)="search()"
      disabled="loadingService.isLoading()"
    >
      <i class="me-1 fa-regular fa-magnifying-glass"></i>
      Search
    </button>
  </ngds-text-input>
</section>