<section class="container justify-content-center my-5">
  <div *ngIf="showSelectionOptions()">
  <h3>Create New Inventory</h3>
    <div class="mb-3">
      Select the type of inventory item you want to create:
    </div>
    <div class="row row-cols-1 row-cols-md-3 g-4 mb-3">
      <div class="col">
        <app-create-inventory-selector
          title="GEOZONE"
          titleClasses="bg-warning rounded-pill text-dark"
          description="Geozones are geospatial regions defined by a bounding box that group together activities and facilities that are interrelated."
          icon="fa-solid fa-map-location-dot"
          link="/inventory/create/geozone"
        ></app-create-inventory-selector>
      </div>
      <div class="col">
        <app-create-inventory-selector
          title="FACILITY"
          titleClasses="bg-primary rounded-pill"
          description="Facilities are specific geospatial locations defined by a latitude and longitude and can represent the location of campgrounds, trails, structures, natural features, and other amenities."
          icon="fa-solid fa-location-dot"
          link="/inventory/create/facility"
        ></app-create-inventory-selector>
      </div>
      <div class="col">
        <app-create-inventory-selector
          title="ACTIVITY"
          titleClasses="bg-danger rounded-pill"
          description="Activities are types of experiences that are offered at facilities or within geozones, such as camping, day use experiences, boating, and more."
          icon="fa-solid fa-campground"
          link="/inventory/create/activity"
        ></app-create-inventory-selector>
      </div>
    </div>
    <div class="row row-cols-1 row-cols-md-3 g-4 mb-5">
      <div class="col">
        <app-create-inventory-selector
          title="PRODUCT"
          titleClasses="bg-info rounded-pill text-dark"
          description="Products are bookable items or passes associated with activities at BC Parks locations. They combine activities with policies and define pricing and capacity."
          icon="fa-solid fa-ticket"
          link="/inventory/create/product"
          [disabled]="false"
        ></app-create-inventory-selector>
      </div>
      <div class="col">
        <app-create-inventory-selector
          title="POLICY"
          titleClasses="bg-secondary rounded-pill"
          description="Policies are simple rulesets govern how an activity can be booked, such as cancellation policies, booking windows, fee structures, party sizes, and more."
          icon="fa-solid fa-file-pen"
          link="/inventory/create/policy"
          [disabled]="false"
        ></app-create-inventory-selector>
      </div>
    </div>
    <hr />
    <h3>Create/Manage Relationships</h3>
    <div class="mb-3">
      Select the type of entity relationship item you want to create or manage:
    </div>
    <div class="row row-cols-1 row-cols-md-3 g-4 mb-3">
      <div class="col">
        <app-create-inventory-selector
          title="RELATIONSHIPS"
          titleClasses="bg-secondary rounded-pill"
          description="Entity relationships define associations between different inventory items, such as linking products to activities or activities to geozones."
          icon="fa-solid fa-circle-nodes"
          link="/inventory/create/relationships"
          [disabled]="false"
        ></app-create-inventory-selector>
      </div>
    </div>
    <hr/>
  </div>
</section>
<router-outlet></router-outlet>
