<!-- Verification Result Modal -->
<div *ngIf="!showVerificationResult" class="bg-white">
  <app-qr-scanner
  (scanSuccess)="onQRScanSuccess($event)"
  (scanError)="onQRScanError($event)"
  (closeScanner)="closeQRScanner()">
</app-qr-scanner>
</div>

<div *ngIf="showVerificationResult" class="bg-white border border-top-0 p-3">
  <div class="d-flex justify-content-start align-items-center my-2 mb-3 px-lg-4">
    <button class="btn btn-outline-primary border-0" (click)="closeVerificationResult()">
      <i class="fa-xl fa-solid fa-arrow-left me-3"></i><span class="fs-5 fw-bold">Back</span>
    </button>
  </div>

  <app-pass-details
    [booking]="qrBookingResult"
  >
  </app-pass-details>
</div>
