<div class="login-bg d-flex align-items-center justify-content-center">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-md-8 col-lg-6 bg-white p-5 rounded shadow my-5">
        <h1 class="mb-2 text-center fw-light">Reservations</h1>
        <p class="text-center mb-5">Select the ID you want to use to log into the Reservations system.</p>

        <div class="d-flex flex-column align-items-center gap-1">
          <div class="login-btn-group">
            <button class="btn btn-primary w-100" (click)="onLogin('bcsc')">
              Log in with BC Services Card
            </button>
            <p class="mb-3 text-start">
              <a
                href="https://www2.gov.bc.ca/gov/content/governments/government-id/bcservicescardapp/setup"
                target="_blank"
                rel="noopener">
                <i class="fa-regular fa-gear"></i>
                Set up the BC Services Card Account
              </a>
            </p>
          </div>

          <div class="login-btn-group">
            <button class="btn btn-primary w-100" (click)="onLogin('bceid')">
              Log in with BCeID
            </button>
            <p class="mb-3 text-start">
              <a
                href="#"
                target="_blank"
                rel="noopener">
                <i class="fa-regular fa-gear"></i>
                Register for a BCeID
              </a>
            </p>
          </div>

          <div class="login-btn-group">
            <button class="btn btn-primary w-100" (click)="onLogin('idir')">
              Log in with IDIR
            </button>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
