.overlay-element {
  z-index: 1000;
  position: relative;
  min-width: 400px;
  align-items: top;
  width: 33%;
  justify-content: left;
  max-height: 100% !important;
}

.results-table {
  overflow-y: scroll;
  overflow-x: hidden;
}
