<div class="d-flex justify-content-center my-3">
  <button
    class="btn btn-success"
    (click)="useExternalCheckout($event)"
  >Complete using external checkout</button>
</div>

<div class="mx-5 my-2">
  <div class="d-flex row">
    <!-- Add form -->
    <!-- <div class="col-12 col-sm-6">
      <ngds-number-input
        label="Card Number"
        [control]="form?.controls?.['cardNumber']"
      >
      </ngds-number-input>
    </div>
    <div class="col-6 col-sm-3">
      <ngds-number-input
        label="CVV"
        [control]="form?.controls?.['cvv']"
      >
      </ngds-number-input>
    </div>
    <div class="col-6 col-sm-3">
      <ngds-number-input
        label="Expiry Month"
        [control]="form?.controls?.['expiryMonth']"
      >
      </ngds-number-input>
    </div> -->
  </div>
</div>