<app-loadal #loadal></app-loadal>
<app-facility-form
  (formValue)="updateFacilityForm($event)"
  (relationshipsLoaded)="onRelationshipsLoaded($event.type, $event.relationships)"
  (relationshipsChanged)="onRelationshipsChanged($event.type, $event.relationships)">
</app-facility-form>
<div class="row d-flex justify-content-end">
  <div class="col-auto p-4">
    <div class="d-flex justify-content-end align-items-center gap-2">
      <button
        class="btn btn-outline-danger rounded-1"
        (click)="cancel()">
        Cancel
      </button>
      <button
        class="btn btn-secondary rounded-1"
        (click)="resetForm()"
        [disabled]="!facilityForm?.dirty">
        Reset
      </button>
      <button
        class="btn btn-primary rounded-1"
        (click)="submit()"
        [disabled]="!facilityForm?.valid || !facilityForm?.dirty">
        Save
      </button>
    </div>
  </div>
</div>
