
<section class="container">
  <div class="row">
    <div class="col-md-6">
      <h4 class="mb-3">Summary</h4>
      <div class="row">
        <div class="col-3">
          <strong class="me-1">Display Name: </strong>
        </div>
        <div class="col-auto">
          <span>{{geozone?.displayName}}</span>
        </div>
      </div>
      <div class="row">
        <div class="col-3">
          <strong class="me-1">Latest version: </strong>
        </div>
        <div class="col-auto">
          <span>{{geozone?.version || 'No version available.'}}</span>
        </div>
      </div>
      <div class="row">
        <div class="col-3">
          <strong class="me-1">Collection ID: </strong>
        </div>
        <div class="col-auto">
          <span class="badge bg-secondary">{{geozone?.gzCollectionId || 'No ID available.'}}</span>
        </div>
      </div>
      <div class="row">
        <div class="col-3">
          <strong class="me-1">Created at: </strong>
        </div>
        <div class="col-auto">
          <span>{{geozone?.creationDate | date:'medium'}}</span>
        </div>
      </div>
      <div class="row">
        <div class="col-3">
          <strong class="me-1">Last Updated: </strong>
        </div>
        <div class="col-auto">

          <span>{{geozone?.lastUpdated | date:'medium'}}</span>
        </div>
      </div>
      <div class="row">
        <div class="col-3">
          <strong class="me-1">Timezone: </strong>
        </div>
        <div class="col-auto">
          <i class="fa-solid fa-clock mx-1"></i>
          <span>{{geozone?.timezone || 'No timezone available.'}}</span>
        </div>
      </div>
      <h5 class="mt-3">Description</h5>
      <p>{{geozone?.description || 'No description available.'}}</p>
    </div>
    <div class="col-md-6">
      <h4 class="mb-3">Images</h4>
      <img
        *ngIf="geozone?.imageUrl"
        [src]="geozone?.imageUrl"
        alt="{{geozone?.displayName}} image"
        class="img-fluid rounded"
      />
    </div>
  </div>
</section>
<hr />
<section class="container">
  <div class="row">
    <div class="col-md-6">
      <h4 class="mb-3">Geospatial Details</h4>
      <div class="mb-2">
        <div class="row">
          <div class="col-auto">
            <strong class="me-1">Location: </strong>
          </div>
          <div class="col">
            <span>{{geozone?.location?.coordinates[1] || 'Invalid latitude.'}}, {{geozone?.location?.coordinates[0] ||
              'Invalid
              longitude'}}</span>
          </div>
        </div>
      </div>
      <div class="mb-2">
        <div class="row">
          <div class="col-auto">
            <strong class="me-1">Envelope: </strong>
          </div>
          <div class="col">
            <div *ngFor="let coord of geozone?.envelope?.coordinates">{{coord[1] || 'Invalid latitude.'}}, {{coord[0] ||
              'Invalid longitude'}}</div>
          </div>
        </div>
        <div class="row">
          <div class="col-3">
            <strong class="me-1">Minimum Map Zoom Level: </strong>
          </div>
          <div class="col-auto">
            <div class="mb-0">{{geozone?.minMapZoom}}</div>
          </div>
        </div>
        <div class="row">
          <div class="col-3">
            <strong class="me-1">Maximum Map Zoom Level: </strong>
          </div>
          <div class="col-auto">
            <div class="mb-0">{{geozone?.maxMapZoom}}</div>
          </div>
        </div>
        <div class="row">
          <div class="col-3">
            <strong class="me-1">Visible on Map: </strong>
          </div>
          <div class="col-auto">
            <div
              class="mb-0"
              [ngClass]="{'text-primary': geozone?.isVisible, 'text-secondary': !geozone?.isVisible}"
            >{{geozone?.isVisible}}</div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <h4 class="mb-3">Map</h4>
      <div class="border rounded-5 overflow-hidden">
        <app-map
          #mapComponent
          [_markers]="_markers"
          [_polygons]="_envelope"
          [showGrips]="false"
        ></app-map>
      </div>
    </div>
  </div>
</section>
<hr />
<section class="container">
  <div class="row">
    <div class="col-md-6">
      <h4 class="mb-3">Metadata</h4>
      <div class="row">
        <div class="col-3">
          <strong class="me-1">Schema: </strong>
        </div>
        <div class="col-auto">
          <div class="badge bg-warning text-dark d-flex align-items-center rounded-pill px-2">
            <i class="fa-solid fa-map-location-dot me-1"></i>
            <div class="mb-0">{{geozone?.schema | uppercase}}</div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-3">
          <strong class="me-1">ORCS: </strong>
        </div>
        <div class="col-auto">
          <div class="badge bg-light text-dark border d-flex align-items-center rounded-pill px-2">
            <div *ngIf="geozone?.orcs" class="mb-0">{{geozone?.orcs}}</div>
            <div *ngIf="!geozone?.orcs" class="mb-0">&lt;No ORCS&gt;</div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-3">
          <strong class="me-1">Geozone ID: </strong>
        </div>
        <div class="col-auto">
          <div class="badge bg-warning text-dark d-flex align-items-center rounded-pill px-2">
            <div class="mb-0">{{geozone?.geozoneId}}</div>
          </div>
        </div>
      </div>

    </div>
    <div class="col-md-6">
      <h4 class="mb-3">Raw Data</h4>
      <pre>{{stringifyData(geozone)}}</pre>
    </div>
  </div>
</section>