<section class="mx-5 py-5 h-100">
  <div class="d-flex flex-column h-100">
    <!-- Breadcrumb -->
    <app-breadcrumb></app-breadcrumb>
    <h2 class="mb-5">Sales</h2>
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link" routerLink="/sales/qr-scanner" routerLinkActive="active">
          QR scanner
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/sales/pass-search" routerLinkActive="active">
          Pass search
        </a>
      </li>
    </ul>
    <div class="tab-content flex-grow-1">
      <router-outlet></router-outlet>
    </div>
  </div>
</section>
