<app-loadal #loadal></app-loadal>
<section class="container pt-3 pb-3">
  <div class="row">
    <div class="col-12">
      <div *ngIf="isCreating" class="card mb-4">
        <div class="card-body p-4">
          <h3 class="mb-4">Partition information</h3>
          <div class="row mt-4">
            <div class="col-12 col-lg-6">
              <div class="mb-3">
                <ngds-text-input
                  [control]="form.get('collectionId')"
                  [label]="'Collection ID'"
                  [placeholder]="'Enter Collection ID'"
                  [resetButton]="true"
                  [disabled]="product?.collectionId"
                >
                </ngds-text-input>
              </div>
              <div class="mb-3">
                <ngds-typeahead-input
                  [control]="form.get('activity')"
                  [selectionListItems]="availableActivities"
                  [label]="'Activity'"
                  [placeholder]="'Select an activity'"
                  [resetButton]="true"
                >
                </ngds-typeahead-input>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card mb-5">
        <div class="card-body p-4">
          <h3 class="mb-4">Details</h3>
          <div class="row mt-2">
            <div class="col-12 col-lg-6 d-flex align-items-end justify-content-start gap-3">
              <div class="toggle-wrapper">
                <ngds-toggle-input
                [class]="'label-top'"
                [control]="form.get('isVisible')"
                [switch]="true"
                [label]="'Visibility'"
                ></ngds-toggle-input>
              </div>
              <span class="small">{{ form.get('isVisible')?.value ? 'Visible to public' : 'Not visible to public' }}</span>
            </div>
          </div>
        
          <div class="row mt-2">
            <div class="col-12 col-lg-6 d-flex align-items-end justify-content-start gap-3">
              <div class="toggle-wrapper">
                <ngds-toggle-input
                [class]="'label-top'"
                [control]="form.get('passesRequired')"
                [switch]="true"
                [label]="'Passes'"
                ></ngds-toggle-input>
              </div>
              <span class="small">{{ form.get('passesRequired')?.value ? 'Passes required' : 'Passes are not required' }}</span>
            </div>
          </div>
          
          <div class="row mt-2">
            <div class="col-12 col-lg-6 d-flex align-items-end justify-content-start gap-3">
              <div class="toggle-wrapper">
                <ngds-toggle-input
                  [class]="'label-top'"
                  [control]="form.get('qrCodeEnabled')"
                  [switch]="true"
                  [label]="'QR codes'"
                ></ngds-toggle-input>
              </div>
              <span class="small ms--3">{{ form.get('qrCodeEnabled')?.value ? 'QR code enabled' : 'QR code disabled' }}</span>
            </div>
          </div>

          <div class="row mt-4">
            <div class="col-12 col-lg-6">
              <ngds-text-input class="mb-4"
                [control]="form.get('displayName')"
                [label]="'Display name'"
                [placeholder]="'Type a display name for the product'" [resetButton]="true">
              </ngds-text-input>
              <div 
                *ngIf="form.hasError('invalidDisplayName') && (form.get('displayName')?.touched)"
                class="alert alert-danger small p-2 mt-2"
              >
                <strong>Invalid:</strong> please update the Display name; cannot use default value.
              </div>
            </div>
          </div>
          <div class="row mt-4">
            <div class="col-12 col-lg-6">
              <ngds-text-input class="mb-4"
                [control]="form.get('description')"
                [label]="'Description'"
                [multiline]="true"
                [placeholder]="'Type a description for the product'">
              </ngds-text-input>
            </div>
          </div>
          
          <div class="row mt-4">
            <div class="col-12 col-lg-6">
              <ngds-text-input class="mb-4"
                [control]="form.get('adminNotes')"
                [label]="'Admin notes'"
                [multiline]="true"
                [placeholder]="'Type any admin notes for the product'">
              </ngds-text-input>
            </div>
          </div>

          <div class="col mt-4 mb-3">
            <ngds-picklist-input
              [control]="form.get('timezone')"
              [label]="'Timezone'"
              [selectionListItems]="timezones"
              [autoSelectFirstItem]="true"
              [placeholder]="'Select timezone'"
              [resetButton]="true"
              >
            </ngds-picklist-input>
          </div>
          
          <app-search-terms
            #searchTerms
            [searchTerms]="form.get('searchTerms')?.value || []"
            (searchTermsChange)="onSearchTermsChange($event)"
          ></app-search-terms>

          <hr class="mt-4">
          <div *ngIf="!isCreating">
            <h3 class="mb-4 mt-4">Activity</h3>
            <div class="row">
              <app-activity-list-item
              [activity]="relatedActivity"
              ></app-activity-list-item>
            </div>
          </div>

          <hr>
          <h3 class="mb-4 mt-4">Policies</h3>
          <p class="small mt-2">Polices are rules defining how the <strong>product</strong> behaves. They control the booking's stock, party limit, changes/cancellations, and fees. </p>
          <div class="row">
            <div class="col-12 col-lg-6">
              <div class="d-flex flex-column flex-sm-row align-items-stretch align-items-sm-center gap-2 mb-4">
                <div class="flex-grow-1">
                  <ngds-typeahead-input
                    #policyTypeahead
                    [control]="form.get('policies')"
                    [selectionListItems]="policies"
                    [placeholder]="'Select/add existing policy'"
                    [resetButton]="true"
                  >
                  </ngds-typeahead-input>
                </div>
                <button 
                  class="btn btn-primary"
                  (click)="addPolicy(form.get('policies').value)"
                  [disabled]="!form.get('policies').value"
                >
                  Link policy
                </button>
              </div>
              <div *ngFor="let policy of selectedPolicies">
                <app-policy-list-item
                  [policy]="policy"
                  [isEditing]="isEditing"
                  [isCreating]="isCreating"
                  (policyRemoved)="removePolicy($event)"
                ></app-policy-list-item>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
