<app-product-form [isEditing]="true" (formValue)="updateProductForm($event)">
</app-product-form>
<div class="row d-flex justify-content-end">
  <div class="col-auto p-4">
    <div class="d-flex justify-content-end align-items-center gap-2">
      <button
        class="btn btn-outline-danger rounded-1"
        (click)="cancel()">
        Cancel
      </button>
      <button
        class="btn btn-secondary rounded-1"
        (click)="resetForm()"
        [disabled]="!productForm?.dirty">
        Reset
      </button>
      <button
        class="btn btn-primary rounded-1"
        (click)="submit()"
        [disabled]="!productForm?.valid || !productForm?.dirty">
        Save
      </button>
    </div>
  </div>
</div>
