<div class="row g-3 mb-4">
  <div class="col-md-4">
    <label for="collection-select" class="form-label mb-2">Protected area</label>
    <select id="collection-select" class="form-select" [formControl]="collectionControl">
      <option value="">Please Select</option>
      <option *ngFor="let collection of collections" [value]="collection.value">
        {{ collection.display }}
      </option>
    </select>
  </div>
  <div class="col-md-4">
    <label for="facility-select" class="form-label mb-2">Facility</label>
    <select id="facility-select" class="form-select" [formControl]="facilityControl">
      <option value="">Please Select</option>
      <option *ngFor="let facility of facilities" [value]="facility['pk'] + '::' + facility['sk']">
        {{ facility.displayName }}
      </option>
    </select>
  </div>
  <div class="col-md-4">
    <label for="product-select" class="form-label mb-2">Product</label>
    <select id="product-select" class="form-select" [formControl]="productControl">
      <option value="">Please Select</option>
      <option *ngFor="let product of products" [value]="product['pk'] + '::' + product['sk']">
        {{ product.displayName }}
      </option>
    </select>
  </div>
</div>
