<section>
  <div class="d-flex flex-column align-items-center justify-content-center my-5">
    <h4 class="text-center">Update {{ geozone?.displayName }}</h4>
  </div>
</section>
<hr>
<app-geozone-form
  (formValue)="updateGeozoneForm($event)">
</app-geozone-form>
<hr>
<section>
  <div class="d-flex flex-column align-items-center justify-content-center my-5">
    <h4 class="text-center mb-5">Update Geozone</h4>
<button class="btn btn-secondary btn-lg" (click)="submit()">
  <i class="fa-solid fa-pen-to-square me-2"></i>
  <span>Update {{geozone?.displayName}}</span>
</button>
  </div>
</section>
