<section class="container pt-3 pb-3">
  <div class="row">
    <div class="col-12">
      <div class="d-flex flex-column align-items-start justify-content-center">
        <h2 class="text-center mb-2">Create a new Facility</h2>
      </div>
    </div>
  </div>
</section>
<app-facility-form
  [isCreating]="true"
  (formValue)="updateFacilityForm($event)">
</app-facility-form>
<section>
  <div class="d-flex flex-column align-items-center justify-content-center mt-2 mb-5">
    <button class="btn btn-outline-success btn-lg" (click)="submit()" [disabled]="!facilityForm?.valid">
      <span>Create Facility</span>
    </button>
  </div>
</section>
