<div *ngIf="!checkingSession && !isAuthenticed" class="mt-5">
  <app-login></app-login>
</div>

<div *ngIf="isAuthenticed && !isAdmin" class="mt-5">
  <div class="container">
      <div class="row">
        <div class="d-flex flex-column justify-content-center align-items-center mt-5">
          <h1 class="display-5 mb-3">Reservations System</h1>
          <p class="bg-danger rounded-2 p-3 fw-bold text-light text-center"><span class="fs-3">No Access</span><br> You must have a valid role to access Reserve Rec</p>
        </div>
      </div>
  </div>
</div>

<div *ngIf="isAuthenticed && isAdmin" class="container d-flex flex-column align-items-center justify-content-center" style="min-height: 60vh;">
  <div class="w-100 d-flex flex-column align-items-center">
    <div class="container py-4">
      <!-- Title here -->
      <div class="row mb-4">
        <div class="col">
          <h1 class="display-5">Reservations System</h1>
        </div>
      </div>

      <div class="alert alert-info border-start border-info border-4" role="alert">
        <h4 class="alert-heading">Under construction</h4>
        <p class="mb-0">This page is currently under construction.</p>
      </div>

      <!-- Main Content -->
      <div class="row mb-4">
        <div class="col-md-6">
          <div class="mb-3 p-3 border rounded bg-light">
            <h4>Search</h4>
            <app-search-component></app-search-component>
          </div>
          <div class="p-3 border rounded bg-light">
            <h4>Inventory Management</h4>
            <app-inventory-component></app-inventory-component>
          </div>
        </div>
        <!-- Right Column: Inventory -->
        <div class="col-md-6">
          <div class="h-100 p-3 border rounded bg-light">
            <h4>Sales Management</h4>
            <app-sales-component></app-sales-component>
          </div>
        </div>
      </div>

      <!-- Reports Row -->
      <div class="row">
        <div class="col">
          <div class="p-3 border rounded bg-light">
            <h4>Reports</h4>
            <app-reports></app-reports>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
