<div class="bg-white border border-top-0">
  <div class="qr-scanner-container">
    <!-- Camera Selection -->
    <div *ngIf="cameras.length >= 1" class="camera-selection mb-3">
      <label for="cameraSelect" class="form-label">
        Select Camera
      </label>
      <select 
        id="cameraSelect" 
        class="form-select" 
        [(ngModel)]="selectedCameraId" 
        (change)="changeCamera(selectedCameraId!)"
        [disabled]="isCameraLoading">
        <option *ngFor="let camera of cameras" [value]="camera.id">
          {{ camera.label || 'Camera ' + camera.id }}
        </option>
      </select>
    </div>

    <!-- Scanner Display -->
    <div class="scanner-wrapper">
      <div id="reader" #reader class="qr-reader"></div>
      <div *ngIf="isScanSuccess" class="pass-success text-white p-3"><i class="fa-solid fa-check-circle text-white me-3"></i>Pass scanned successfully.</div>
      <div *ngIf="isScanFailure" class="pass-danger text-white p-3"><i class="fa-solid fa-check-circle text-white me-3"></i>Unable to scan pass.</div>
    </div>
    <div *ngIf="!isCameraLoading && !isScanSuccess" class="row">
      <div class="col d-flex justify-content-between my-3">
        Searching for QR Code<div class="spinner-grow text-dark"></div>
      </div>
    </div>
  </div>
</div>
